# System Files
.DS_Store

# Node
node_modules/
npm-debug.log*

# PhpStorm
.idea/
!.idea/php.xml
!.idea/watcherTasks.xml

# Visual Studio Code
.vscode/
.history/

##################
# Project specific
##################
.env
tests/variables.json
dist/
coverage/
